{{> header}}

<main>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

  <link rel="stylesheet" href="/styles/normform.min.css"/>

  {{#if this.locationError}}
    <style>#error-msg {: 1rem; color: red;}</style>
    <span><p id="error-msg">There was a problem finding the address, please try again</p></span>
  {{/if}}

  <style>
    #map{height: 70vh;margin-bottom:1rem;}
  </style>

  <h1>Create your action</h1>

  <label>Watch our video explainer of creating an action <a>here</a></label>

  <form class="normform">
    <br>
    <fieldset>
      <legend>Overview</legend>
      <label for="name">Action Name*</label>
      <input type="text" id="name" name="name" required {{#if action.name}}value="{{action.name}}"{{/if}}>

      <label for="location">Action Address*</label>
      <input type="text" id="address" name="address" required {{#if action.address}}value="{{action.address}}"{{/if}}>

      <fieldset id="address-select">
      </fieldset>
      <input type="hidden" id="lat" name="lat">
      <input type="hidden" id="lon" name="lon">
      <button id="find-location" disabled>Find address</button>
      <div id="map"></div>
      <script type='text/javascript'>
        // center of the map
        var start = [51.165691, 10.451526];

        // Create the map
        var map = L.map('map').setView(start, 3);

        // Set up the OSM layer
        L.tileLayer(
          'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            minZoom: 3
          }).addTo(map);

        var marker = L.marker(start, { draggable: true, autoPan: true }).addTo(map);

        marker.on('moveend', function() {
          var latlon = marker.getLatLng();
          document.getElementById('lat').value = latlon.lat;
          document.getElementById('lon').value = latlon.lng;

        });

        var findLocBtn = document.getElementById('find-location');

        findLocBtn.disabled = false;

        findLocBtn.addEventListener("click", function(e){
          e.stopPropagation();
          e.preventDefault();
          var query = document.getElementById('address').value;
          var uri = `https://nominatim.openstreetmap.org/search?q=${query}&format=json`

          fetch(uri)
            .then(function(response) {
              return response.json();
            }).then(function(data) {
              var fieldset = document.getElementById('address-select');
              // map data to address select checkboxes
              var {lat, lon} = data[0];
              marker.setLatLng([lat, lon]);
            });
        });
      </script>

      <label for="overview">Action Overview*</label>
      <textarea rows="5" id="overview" name="overview" required>{{#if action.overview}}{{action.overview}}{{/if}}</textarea>

      <label for="start-date">Start Date*</label>
      <input type="date" id="start-date" name="start-date" required {{#if action.start_date}}value="{{action.start_date}}"{{/if}}>

      <label for="end-date">End Date*</label>
      <input type="date" id="end-date" name="end-date" required {{#if action.end_date}}value="{{action.end_date}}"{{/if}}>

      <label>Action Category (<a href="/resource/action-categories">Read more about our categories here</a>)</label>

      <input type="checkbox" id="category-1" name="category" value="Community Engagement">
      <label for="category-1" title="Involves engaging the community in heritage-related projects, such as community-led public art projects and interactive heritage workshops, fostering a sense of shared responsibility and pride.">Community Engagement</label>

      <input type="checkbox" id="category-2" name="category" value="Cultural Celebrations">
      <label for="category-2" title="Cultural celebrations focus on organizing events such as festivals and artisan workshops that showcase and celebrate the unique cultural aspects of a community.">Cultural Celebrations</label>

      <input type="checkbox" id="category-3" name="category" value="">
      <label for="category-3" title="Activities dedicated to the restoration and conservation of natural ecosystems, with a focus on wildlife habitat restoration to support biodiversity and maintain ecological balance.">Ecosystem Conservation</label>

      <input type="checkbox" id="category-4" name="category" value="">
      <label for="category-4" title="Heritage education programs and historical walking tours aimed at educating the community and visitors about the history, traditions, and values that shape the community's identity.">Education and Awareness</label>

      <input type="checkbox" id="category-5" name="category" value="">
      <label for="category-5" title="Projects that aim to educate and raise awareness about the environment, including nature trail creation and environmental education programs designed to instill a sense of responsibility for natural heritage.">Environmental Education</label>

      <input type="checkbox" id="category-6" name="category" value="">
      <label for="category-6" title="Involves community garden initiatives, tree planting programs, and green space enhancement projects that contribute to the preservation of biodiversity and the creation of sustainable, natural environments.">Green Spaces and Biodiversity</label>

      <input type="checkbox" id="category-7" name="category" value="">
      <label for="category-7" title="This category involves the restoration and preservation of historic buildings and monuments, ensuring that the physical structures of the past are maintained for future generations.">Historic Building Preservation</label>

      <input type="checkbox" id="category-8" name="category" value="">
      <label for="category-8" title="Activities centered around revitalizing and preserving languages and traditions, promoting cultural exchange programs to ensure the transmission of linguistic and cultural heritage.">Language and Tradition</label>

      <input type="checkbox" id="category-9" name="category" value="">
      <label for="category-9" title="Capturing and preserving the oral histories and documented artifacts of a community, ensuring that the stories and experiences of individuals are recorded and shared.">Storytelling and Documentation</label>

      <input type="checkbox" id="category-10" name="category" value="">
      <label for="category-10" title="This category focuses on events related to culinary heritage, including culinary heritage events and traditional cooking classes that celebrate and preserve traditional food practices.">Traditional Cuisine Initiatives</label>
    </fieldset>

    <fieldset>
      <legend>Impact</legend>
      <label>Completing this section will help you increase the funding you recieve.</label>
      <br>

      <label>Beauty</label>

      <input type="checkbox" id="activate" name="beauty_ambition" value="activate">
      <label for="activate">This action considers sensory perceptions and or regional/local particularities in its design.</label>

      <input type="checkbox" id="connect" name="beauty_ambition" value="connect">
      <label for="connect">This action provides an attractive space that brings people together and gives opportunities to learn about new ideas, places or people.</label>

      <input type="checkbox" id="integrate" name="beauty_ambition" value="integrate">
      <label for="integrate">This action provides participants the opportunity to question and reimagine their way of life, potentially have a postive transformative effect on the participants' lives.</label>

      <label>Sustainable</label>

      <input type="checkbox" id="repurpose" name="sustain_ambition" value="repurpose">
      <label for="repurpose">This action takes into account sustainability in terms of reuse, material choices, energy use and or social use.</label>

      <input type="checkbox" id="close_loop" name="sustain_ambition" value="close_loop">
      <label for="close_loop">This action takes into account circular economy principles regarding the closed-loop material cycle and or looks to measure its impacts using different sustainability metrics.</label>

      <input type="checkbox" id="regenerate" name="sustain_ambition" value="regenerate">
      <label for="regenerate">This action is paradigm shifting and gives back more than it takes in, focusing on regeneration.</label>
      
      <label>Together</label>

      <input type="checkbox" id="include" name="together_ambition" value="include">
      <label for="include">This action is affordable and equally accessible to all communities.</label>

      <input type="checkbox" id="consolidate" name="together_ambition" value="consolidate">
      <label for="consolidate">This action helps overcome segregation between different communities.</label>

      <input type="checkbox" id="transform" name="together_ambition" value="transform">
      <label for="transform">This action promotes new ways of communities living together and challenges unjust social models.</label>

      <label>Participatory Process</label>

      <input type="checkbox" id="consult" name="particip_ambition" value="consult">
      <label for="consult">This action keeps stakeholders informed and allows them to contribute.</label>

      <input type="checkbox" id="co-develop" name="particip_ambition" value="co-develop">
      <label for="co-develop">This action includes stakeholders in the decision making process and enables them to shape the final action's output.</label>

      <input type="checkbox" id="self-govern" name="particip_ambition" value="self-govern">
      <label for="self-govern">This action empowers stakeholders to take control and create a sustained grass-roots initiative beyond the initial action's implementation.</label>

      <label>Multilevel Engagement</label>

      <input type="checkbox" id="work_locally" name="multi_level_engagement" value="work_locally">
      <label for="work_locally">This action interacts with local networks and communities.</label>

      <input type="checkbox" id="work_across" name="multi_level_engagement" value="work_across">
      <label for="work_across">This action interacts with networks and/or institutions that are active beyond the scale of the action itself (e.g. from local to regional, from national to international)</label>

      <input type="checkbox" id="work_globally" name="multi_level_engagement" value="work_globally">
      <label for="work_globally">This action aims at achieving a global transformational impact.</label>

      <label>Transdisciplinary</label>

      <input type="checkbox" id="multidisciplinary" name="transdiciplinary" value="multidisciplinary">
      <label for="multidisciplinary">This action involves people from different disciplines working in parallel.</label>

      <input type="checkbox" id="interdisciplinary" name="transdiciplinary" value="interdisciplinary">
      <label for="interdisciplinary">This action involves people from different disciplines interacting and working together on it and allows for new knowledge creation.</label>

      <input type="checkbox" id="beyond_disciplinary" name="transdiciplinary" value="beyond_disciplinary">
      <label for="beyond_disciplinary">This action transcends the traditional discipline boundaries, giving equal value to formal and informal knowledge, and seeks a more holistic and comprehensive understanding.</label>
    </fieldset>

    <fieldset>
      <legend>Funding</legend>

      <label>Consider Best Practice for each category</label>
      <ul>
        <li><a href="/resource/action-categories#community-engagement">Community Engagement - Best Practice</a></li>
        <li><a href="/resource/action-categories#cultural-celebrations">Cultural Celebrations - Best Practice</a></li>
        <li><a href="/resource/action-categories#ecosystem-conservation">Ecosystem Conservation - Best Practice</a></li>
        <li><a href="/resource/action-categories#education-and-awareness">Education and Awareness - Best Practice</a></li>
        <li><a href="/resource/action-categories#environmental-education">Environmental Education - Best Practice</a></li>
        <li><a href="/resource/action-categories#green-spaces-and-biodiversity">Green Spaces and Biodiversity - Best Practice</a></li>
        <li><a href="/resource/action-categories#historic-building-preservation">Historic Building Preservation - Best Practice</a></li>
        <li><a href="/resource/action-categories#language-and-tradition">Language and Tradition - Best Practice</a></li>
        <li><a href="/resource/action-categories#storytelling-and-documentation">Storytelling and Documentation - Best Practice</a></li>
        <li><a href="/resource/action-categories#traditional-cuisine-initiatives">Traditional Cuisine Initiatives - Best Practice</a></li>
      </ul>

      <label for="target">Total Cost of Action (€)</label>
      <input type="number" id="target" name="total" min="1" step="1">

      <label for="target">Fundraising Target (€)*</label>
      <input type="number" id="target" name="target" min="1" step="1" required {{#if action.fundraising_target}}value="{{action.fundraising_target}}"{{/if}}>

      <label for="deadline">Deadline*</label>
      <input type="date" id="deadline" name="deadline" required {{#if action.fundraising_deadline}}value="{{action.fundraising_deadline}}"{{/if}}>
    </fieldset>

    <input type="checkbox" id="terms-conditions" name="terms-conditions" value="terms-conditions" required>
    <label for="terms-conditions">Do you agree to our <a>terms and conditions</a>?</label>

    <input type="submit" formmethod="post" value="Submit">
  </form>
</main>
