{{> header}}

<main>
  <section aria-label="title">
    <h1>{{actionData.name}}</h1>
  </section>
  

  <section aria-label="make a pledge">
    <label for="fundraising">Total Pledged</label>
    <progress id="fundraising" max="{{actionData.fundraising_target}}" value="{{actionData.pledgeTotal}}">{{actionData.fundraising_target}}</progress>
    <a href="/action/{{actionData.slug}}/pledge">Pledge Now</a>
  </section>

  <section aria-label="pledges">
    <h2>Pledges</h2>
    {{#if actionData.pledges}}
      {{#each actionData.pledges}}
        <p>€{{this.amount}}</p>
        <p>{{this.date}}<p>
        <p><a href="/profile/{{this.donor_id}}">{{this.donor_name}}</a></p>
        <hr>
      {{/each}}
      {{else}}
      <p>No pledges yet</p>
    {{/if}}
  </section>
    <h2>Impact</h2>
    <p>Beauty: NEB Ambition {{actionData.beauty_ambition}}</p>
    <p>Sustainable: NEB Ambition {{actionData.sustain_ambition}}</p>
    <p>Together: NEB Ambition {{actionData.together_ambition}}</p>
    <p>Participatory: NEB Ambition {{actionData.participatory_process_ambition}}</p>
    <p>Multi-Level Enagement: NEB Ambition {{actionData.multi_level_engagement_ambition}}</p>
    <p>transdiciplinary: NEB Ambition {{actionData.transdiciplinary_ambition}}</p>
  <section>

  </section>

</main>
