{{> header}}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<style>
  main{
    margin: 0 5rem;
  }

  img{
    font-size:0;
  }

  #pledge{
    display: flex;
    flex-direction: column;
    max-width: 30ch;
  }

  .pledge{
    font-size: 12px;
    margin: .75rem 0;
  }

  .pledge p{
    margin: 0;
  }

  .pledge, .pledge:hover, .pledge:active , .pledge:visited {
    text-decoration: none;
    color: #000;
  }

  #overview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #overview-image{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
  }

  .column{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #map{
    height: 20rem;
    width: 20rem;
  }

  .button, button{
    background: #30732F;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: .75rem 1rem;
    text-align: center;
    font-size: 16px;
    border-width: 2px;
    border-color: #30732F;
    margin: 0.5rem 0;
    cursor:pointer;
  }

  .button-secondary{
    background-color: #fff;
    border-color: #30732F;
    color: #000;
  }

  .button:hover, .button:active {
  text-decoration: none;
  color: #fff;
  }

  .button:visited{
    color: #fff;
  }

  #neb{
    width:30rem;
    height:30rem;
  }

  #neb-image{
    height:100%;
  }

  progress::-moz-progress-bar { background: #30732F; }
  progress::-webkit-progress-value { background: #30732F; border-radius: 5px;}
  progress { color: #30732F; border-radius: 5px; border-width: 0; }

  #view-pledges{
    width: 50%;
  }

  @media (prefers-color-scheme: dark) {
    .pledge, .pledge:hover, .pledge:active , .pledge:visited { color: #fff; }
  }

  .action-categories{display: flex; flex-wrap: wrap; gap:1rem;}
  .action-categories p{margin:0; border-color: #30732F; border-style: solid; border-width: .1rem; padding: .5rem;}
</style>

<main class="wide">
  <h1>{{actionData.name}}</h1>
  <section id="overview" aria-label="pledges">
    <div class="column">
    <div class="row">
      <div id="map"></div>
    <script type='text/javascript'>
      // center of the map
      var start = [{{actionData.latitude}}, {{actionData.longitude}}];

      // Create the map
      var map = L.map('map', {zoomControl: false}).setView(start, 5);
      map.dragging.disable();
      map.scrollWheelZoom.disable();

      // Set up the OSM layer
      L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          minZoom: 3
        }).addTo(map);

      L.marker([{{actionData.latitude}}, {{actionData.longitude}}]).addTo(map);
    </script>
    </div>
    <div class="row">
      <img src="/images/upload/{{actionData.profile_id}}/{{actionData.slug}}.webp" id="overview-image" alt="action image">
    </div>
    </div>
    <div id="pledge" class="column">
      <label for="fundraising"><b>€{{actionData.pledgeTotal}}</b> pledged of €{{actionData.fundraising_target}} target</label>
      <progress id="fundraising" max="{{actionData.fundraising_target}}" value="{{actionData.pledgeTotal}}">{{actionData.fundraising_target}}</progress>
      <p>Funding Deadline: {{actionData.fundraising_deadline}}</p>

      <a class="button" href="/action/{{actionData.slug}}/pledge">Pledge Now</a>
      <button class="button-secondary" id="share">Share</button>
      <script>
        document.getElementById("share").addEventListener("click", function(){
          let url = document.location.href
          navigator.clipboard.writeText(url).then(function() {
             document.getElementById("share").innerHTML = "Link Copied!"
             setTimeout(function(){
              document.getElementById("share").innerHTML= "Share";
              },3000);
          });
        });
      </script>
        {{#if actionData.pledges}}
        {{#if actionData.pledges.[0]}}
        <a class="pledge" href="/profile/{{actionData.pledges.[0].donor_slug}}">
          <p>{{actionData.pledges.[0].donor_name}}</p>
          <p><b>Pledged €{{actionData.pledges.[0].amount}}</b> {{actionData.pledges.[0].date}}</p>
        </a>
        {{/if}}
        {{#if actionData.pledges.[1]}}
        <a class="pledge" href="/profile/{{actionData.pledges.[1].donor_slug}}">
          <p>{{actionData.pledges.[1].donor_name}}</p>
          <p><b>Pledged €{{actionData.pledges.[1].amount}}</b> {{actionData.pledges.[1].date}}</p>
        </a>
        {{/if}}
        {{#if actionData.pledges.[2]}}
        <a class="pledge" href="/profile/{{actionData.pledges.[2].donor_slug}}">
          <p>{{actionData.pledges.[2].donor_name}}</p>
          <p><b>Pledged €{{actionData.pledges.[2].amount}}</b> {{actionData.pledges.[2].date}}</p>
        </a>
        {{/if}}
        <a href="/action/{{actionData.slug}}/pledges">View All Pledges</a>
        {{else}}
        <p>No pledges yet</p>
      {{/if}}
    </div>
  </section>

  </section>
  <section>
    <p>Organised by<br><b>{{profile.display_name}}</b></p>

    {{#if actionData.category.[0]}}
    <div class="action-categories">
      {{#each actionData.category}}
        <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    
    

    <p>{{actionData.overview}}</p>

    <p>Action Timeline: {{actionData.start_date}} - {{actionData.end_date}}</p>
  </section>

  {{log actionData}}
  {{#if actionData.hasCompassData}}
  <section>
    <h2>Impact</h2>
    <img id="neb-image" src="/images/neb-compass.png">
    <div>
      <h3>{{actionData.name}}'s Compass:</h3>
    <svg id="neb" xmlns="http://www.w3.org/2000/svg" viewBox="250 150 325 300"><defs><style>.cls-1{fill:none;stroke:#f0f0ef;stroke-linecap:round;stroke-miterlimit:10;stroke-width:8px;}.cls-2{fill:#b3b3b2;stroke-width:0px;}.filled-line{fill:none;stroke:#b3b3b2;stroke-linecap:round;stroke-miterlimit:10;stroke-width:8px}</style></defs><line class="cls-1" x1="401.11" y1="288" x2="360.11" y2="388"/><line class="cls-1" x1="507.11" y1="320" x2="401.11" y2="288"/><line class="cls-1" x1="364.11" y1="186" x2="401.11" y2="288"/><circle class="cls-2" cx="507.26" cy="320.18" r="2.88"/><circle class="cls-2" cx="472.26" cy="309.18" r="2.88"/><circle class="cls-2" cx="437.26" cy="298.18" r="2.88"/><circle class="cls-2" cx="387.26" cy="322.18" r="2.88"/><circle class="cls-2" cx="373.26" cy="356.18" r="2.88"/><circle class="cls-2" cx="360.26" cy="388.18" r="2.88"/><circle class="cls-2" cx="390.26" cy="256.18" r="2.88"/><circle class="cls-2" cx="377.26" cy="221.18" r="2.88"/><circle class="cls-2" cx="364.26" cy="186.18" r="2.88"/>
      {{#if actionData.beauty_ambition.[2]}}
      <path d="M376.11 348s8-26 17-36c8.06-8.95 19-22 37-24s28 7 31 11 17 22 20 29 14 28 6 45-10 18-24 26-41 11-62 3-25-26-25-26c-2-6-2-11 0-28Z" style="fill:none;stroke:#b9e3f9;stroke-miterlimit:10"/><path d="M389.11 352s1-9 5-17 8-19 9-21 3-8 7-11 12-7 29 2 35 21 39 33 6 23 5 32-8 21-25 27-38-5-45-9-17.49-13.74-21-19c-4-6-3-13-3-17Z" style="fill:#e0f2fd;stroke-width:0"/><path d="M401.11 349s1-12 10-21 18-10 26-8 20 6 28 17 4 27-4 35-17 11-28 10-22-3-27-10-6-16-5-23Z" style="fill:#97d5f2;stroke-width:0"/>
      {{else if actionData.beauty_ambition.[1]}}
      <path d="M376.11 348s8-26 17-36c8.06-8.95 19-22 37-24s28 7 31 11 17 22 20 29 14 28 6 45-10 18-24 26-41 11-62 3-25-26-25-26c-2-6-2-11 0-28Z" style="fill:none;stroke:#b9e3f9;stroke-miterlimit:10"/><path d="M389.11 352s1-9 5-17 8-19 9-21 3-8 7-11 12-7 29 2 35 21 39 33 6 23 5 32-8 21-25 27-38-5-45-9-17.49-13.74-21-19c-4-6-3-13-3-17Z" style="fill:#e0f2fd;stroke-width:0"/>
      {{else if actionData.beauty_ambition.[0]}}
      <path d="M376.11 348s8-26 17-36c8.06-8.95 19-22 37-24s28 7 31 11 17 22 20 29 14 28 6 45-10 18-24 26-41 11-62 3-25-26-25-26c-2-6-2-11 0-28Z" style="fill:none;stroke:#b9e3f9;stroke-miterlimit:10"/>
      {{/if}}

      {{#if actionData.sustain_ambition.[2]}}
      <path d="M428.95 286.97c-9.79-3.12-18.76-7.65-25.68-15.49-13.38-15.15-13.93-27.11-4.86-44.61 4.82-9.31 13.16-14.68 22.83-17.73 10.69-3.38 21.62-6.18 32.97-5.97 14.92.28 26.28 6.75 30.98 22.43 3.33 11.13 7.38 22.06 9.98 33.41 2.2 9.62-.56 15.63-9.22 20.2-9.22 4.86-19.26 7-29.45 8.54-3.2.48-6.45.6-9.68.88-.41.36-.91.72-1.43.63-5-.82-10.04-1.22-15.09-1.46-.53-.03-.96-.43-1.34-.82Z" style="fill:#c7e3d3;stroke-width:0"/><path d="M389.11 238s4-12 13-21c11.51-11.51 22-17 34-22s28-7 38 2 23 27 29 36 11 16 10 25-13 19-20 24-21 16-44 19-39-7-45-12-17-15.97-17-31c0-13 2-20 2-20Z" style="fill:none;stroke:#91cbae;stroke-miterlimit:10"/><path d="M406.06 255.7c.42-8.13 2.3-15.84 7.63-22.24 6.27-7.52 14.53-9.34 23.82-7.44 10.07 2.06 19.38 5.66 27.41 12.43 9.91 8.35 12.38 22.24 4.81 32.68-17.66 24.37-48.82 15.29-60.2-1.86-2.68-4.04-3.87-8.63-3.48-13.57Z" style="fill:#7bc29c;stroke-width:0"/>
      {{else if actionData.sustain_ambition.[1]}}
      <path d="M428.95 286.97c-9.79-3.12-18.76-7.65-25.68-15.49-13.38-15.15-13.93-27.11-4.86-44.61 4.82-9.31 13.16-14.68 22.83-17.73 10.69-3.38 21.62-6.18 32.97-5.97 14.92.28 26.28 6.75 30.98 22.43 3.33 11.13 7.38 22.06 9.98 33.41 2.2 9.62-.56 15.63-9.22 20.2-9.22 4.86-19.26 7-29.45 8.54-3.2.48-6.45.6-9.68.88-.41.36-.91.72-1.43.63-5-.82-10.04-1.22-15.09-1.46-.53-.03-.96-.43-1.34-.82Z" style="fill:#c7e3d3;stroke-width:0"/><path d="M389.11 238s4-12 13-21c11.51-11.51 22-17 34-22s28-7 38 2 23 27 29 36 11 16 10 25-13 19-20 24-21 16-44 19-39-7-45-12-17-15.97-17-31c0-13 2-20 2-20Z" style="fill:none;stroke:#91cbae;stroke-miterlimit:10"/>
      {{else if actionData.sustain_ambition.[0]}}
      <path d="M428.95 286.97c-9.79-3.12-18.76-7.65-25.68-15.49-13.38-15.15-13.93-27.11-4.86-44.61 4.82-9.31 13.16-14.68 22.83-17.73 10.69-3.38 21.62-6.18 32.97-5.97 14.92.28 26.28 6.75 30.98 22.43 3.33 11.13 7.38 22.06 9.98 33.41 2.2 9.62-.56 15.63-9.22 20.2-9.22 4.86-19.26 7-29.45 8.54-3.2.48-6.45.6-9.68.88-.41.36-.91.72-1.43.63-5-.82-10.04-1.22-15.09-1.46-.53-.03-.96-.43-1.34-.82Z" style="fill:#c7e3d3;stroke-width:0"/>
      {{/if}}

      {{#if actionData.together_ambition.[2]}}
      <path d="M283.11 278s4-10 20-24 24-20 39-23 33 5 42 16 13 21 14 27 4.03 20.91 3.02 29.95S397.11 327 385.11 334s-24 14-48 9-43-18-48-27-13-19-6-38Z" style="fill:none;stroke:#f9ec62;stroke-miterlimit:10"/><path d="M293.11 287s-1-20 14-30 35-11 42-11 20 2 27 8 17 18 15 36-7 30-16 40-19 13-30 12-30-12-39-25-12-24-13-30Z" style="fill:#f7ea9d;stroke-width:0"/><path d="M375.12 297.08c.27 5.52-.62 10.7-1.41 15.91-1.25 8.25-5.72 13.51-13.84 15.56-7.43 1.88-14.76 3.9-22.65 2.51-13.58-2.4-20.55-13.06-23.15-24.64-2.15-9.59.02-18.15 6.48-25.27 5.61-6.18 12.7-10.49 20.82-12.86 5.18-1.51 10.39-2.31 15.86-1.79 8.22.78 13.02 5.38 15.49 12.84 1.93 5.82 2.77 11.82 2.41 17.74Z" style="fill:#edde66;stroke-width:0"/>
      {{else if actionData.together_ambition.[1]}}
      <path d="M283.11 278s4-10 20-24 24-20 39-23 33 5 42 16 13 21 14 27 4.03 20.91 3.02 29.95S397.11 327 385.11 334s-24 14-48 9-43-18-48-27-13-19-6-38Z" style="fill:none;stroke:#f9ec62;stroke-miterlimit:10"/><path d="M293.11 287s-1-20 14-30 35-11 42-11 20 2 27 8 17 18 15 36-7 30-16 40-19 13-30 12-30-12-39-25-12-24-13-30Z" style="fill:#f7ea9d;stroke-width:0"/>
      {{else if actionData.together_ambition.[0]}}
      <path d="M283.11 278s4-10 20-24 24-20 39-23 33 5 42 16 13 21 14 27 4.03 20.91 3.02 29.95S397.11 327 385.11 334s-24 14-48 9-43-18-48-27-13-19-6-38Z" style="fill:none;stroke:#f9ec62;stroke-miterlimit:10"/>
      {{/if}}

      {{#if actionData.participatory_process_ambition.[2]}}
      <path class="filled-line" d="m402.11 289-38-103" id="self-govern"/><path class="filled-line" d="m402.11 289-25-68" id="co-develop"/><path class="filled-line" d="m402.11 289-12-32" id="consult"/>
      {{else if actionData.participatory_process_ambition.[1]}}
      <path class="filled-line" d="m402.11 289-25-68" id="co-develop"/><path class="filled-line" d="m402.11 289-12-32" id="consult"/>
      {{else if actionData.participatory_process_ambition.[0]}}
      <path class="filled-line" d="m402.11 289-12-32" id="consult"/>
      {{/if}}
      {{#if actionData.multi_level_engagement_ambition.[2]}}
      <path class="filled-line" d="m401.11 288 36 11" id="work_locally"/><path class="filled-line" d="m401.11 288 70 21" id="work_across_levels"/><path class="filled-line" d="m401.11 288 106 32" id="work_globally"/>
      {{else if actionData.multi_level_engagement_ambition.[1]}}
      <path class="filled-line" d="m401.11 288 36 11" id="work_locally"/><path class="filled-line" d="m401.11 288 70 21" id="work_across_levels"/>
      {{else if actionData.multi_level_engagement_ambition.[0]}}
      <path class="filled-line" d="m401.11 288 36 11" id="work_locally"/>
      {{/if}}
      {{#if actionData.transdiciplinary_ambition.[2]}}
      <path class="filled-line" d="m401.11 288-41 100" id="multi"/><path class="filled-line" d="m401.11 288-28 68" id="inter"/><path class="filled-line" d="m401.11 288-14 34" id="beyond"/>
      {{else if actionData.transdiciplinary_ambition.[1]}}
      <path class="filled-line" d="m401.11 288-41 100" id="multi"/><path class="filled-line" d="m401.11 288-28 68" id="inter"/>
      {{else if actionData.transdiciplinary_ambition.[0]}}
      <path class="filled-line" d="m401.11 288-41 100" id="multi"/>
      {{/if}}
    </svg>
    </div>
    <h4>Beautiful</h4>
    <ul>
      {{#if actionData.beauty_ambition.[0]}}
        <li>This action considers sensory perceptions and or regional/local particularities in its design.
      {{/if}}
      {{#if actionData.beauty_ambition.[1]}}
        <li>This action provides an attractive space that brings people together and gives opportunities to learn about new ideas, places or people.
      {{/if}}
      {{#if actionData.beauty_ambition.[2]}}
        <li>This action provides participants the opportunity to question and reimagine their way of life, potentially have a postive transformative effect on the participants' lives.
      {{/if}}
    </ul>

    <h4>Sustainable</h4>
    <ul>
      {{#if actionData.sustain_ambition.[0]}}
        <li>This action takes into account sustainability in terms of reuse, material choices, energy use and or social use.
      {{/if}}
      {{#if actionData.sustain_ambition.[1]}}
        <li>This action takes into account circular economy principles regarding the closed-loop material cycle and or looks to measure its impacts using different sustainability metrics.
      {{/if}}
      {{#if actionData.sustain_ambition.[2]}}
        <li>This action is paradigm shifting and gives back more than it takes in, focusing on regeneration.
      {{/if}}
    </ul>

    <h4>Together</h4>
    <ul>
      {{#if actionData.together_ambition.[0]}}
        <li>This action is affordable and equally accessible to all communities.
      {{/if}}
      {{#if actionData.together_ambition.[1]}}
        <li>This action helps overcome segregation between different communities.
      {{/if}}
      {{#if actionData.together_ambition.[2]}}
        <li>This action promotes new ways of communities living together and challenges unjust social models.
      {{/if}}
    </ul>

    <h4>Participatory</h4>
    <ul>
      {{#if actionData.participatory_process_ambition.[0]}}
        <li>This action keeps stakeholders informed and allows them to contribute.
      {{/if}}
      {{#if actionData.participatory_process_ambition.[1]}}
        <li>This action includes stakeholders in the decision making process and enables them to shape the final action's output.
      {{/if}}
      {{#if actionData.participatory_process_ambition.[2]}}
        <li>This action empowers stakeholders to take control and create a sustained grass-roots initiative beyond the initial action's implementation.
      {{/if}}
    </ul>

    <h4>Multi-Level Enagement</h4>
    <ul>
      {{#if actionData.multi_level_engagement_ambition.[0]}}
        <li>This action interacts with local networks and communities.
      {{/if}}
      {{#if actionData.multi_level_engagement_ambition.[1]}}
        <li>This action interacts with networks and/or institutions that are active beyond the scale of the action itself (e.g. from local to regional, from national to international)
      {{/if}}
      {{#if actionData.multi_level_engagement_ambition.[2]}}
        <li>This action aims at achieving a global transformational impact.
      {{/if}}
    </ul>
    <h4>Transdiciplinary</h4>
    <ul>
      {{#if actionData.transdiciplinary_ambition.[0]}}
        <li>This action involves people from different disciplines working in parallel.
      {{/if}}
      {{#if actionData.transdiciplinary_ambition.[1]}}
        <li>This action involves people from different disciplines interacting and working together on it and allows for new knowledge creation.
      {{/if}}
      {{#if actionData.transdiciplinary_ambition.[2]}}
        <li>This action transcends the traditional discipline boundaries, giving equal value to formal and informal knowledge, and seeks a more holistic and comprehensive understanding.
      {{/if}}
    </ul>
  </section>
  {{/if}}

</main>
