<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<style>
  body { padding: 0; }
  header { display: flex; justify-content:space-between; align-items:center; height: 5rem; padding: 0 1rem; }
  header h1 { border-bottom: none; }
  header img { width: 2rem; height: 2rem; margin: 0; max-width: inherit;border-radius: 100%;}
  .right { display: flex; }
  #start-action{ margin: 1rem; visibility: hidden;}
  #profile-image { align-self: center; }
  h2, p, pre { margin: 1rem; }
  hr { margin: 0; background: #ddd;}
  #map { height: 70vh; margin: 0; }
  aside {background: #191919; color: #fdfdfd; display: flex; justify-content: center; align-items: center;}
  aside a, aside a:visited, footer a, footer a:visited {color: #fdfdfd;}
  header a, header a:visited {text-decoration: none; color: #000}
  .accent {color: #007474;}
  #title-link { text-decoration: none; color: inherit; }
  section:not(#map-section) { padding: 3rem 0; }
  #actions {  display: flex; flex-direction: column; gap: 2rem; }
  #most-urgent { display: flex; flex-direction: column; justify-content: space-around; gap: 4rem; margin: 0 1rem; align-items: center;}
  #most-urgent a {text-decoration: none; color: #000;}
  .column { width: 100%; display: flex; flex-direction: column; max-width:20rem;}
  footer { min-height: 15rem; background: #191919; color: #fdfdfd; padding: 2rem 1rem; display: flex; flex-direction: column; justify-content: space-between; gap: 2rem;}
  footer p, footer h3 {margin:1rem 0;}
  pre { white-space: pre-wrap; line-height: 1.5rem;}
  .button{
    background: #007474;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: .75rem 1rem;
    text-align: center;
    font-size: 16px;
    border-width: 2px;
    border-color: #007474;
    margin: 0.5rem 0;
    cursor:pointer;
    max-width: 10rem;
  }
   .button:hover, .button:active {
  text-decoration: none;
  color: #fff;
  }

  .button:visited{
    color: #fff;
  }
  #view-all{align-self: center;}
  progress::-moz-progress-bar { background: #007474; }
  progress::-webkit-progress-bar { background: #d3d3d3; border-radius: 5px; border-width: 0;}
  progress::-webkit-progress-value { background: #007474; border-radius: 5px;}
  progress { color: #007474; border-radius: 5px; border-width: 0; width:100%;}
  #most-urgent p, #most-urgent h3, #most-urgent label { margin: .5rem 0;}
  #faqs a { margin:1rem;}

  @media (prefers-color-scheme: dark) {
    header a, header a:visited, #most-urgent a{ color: #fff; }
  }

  @media only screen and (min-width: 1000px) {
    #about-us, #heritact, #faqs {margin-left: 6rem; margin-right: 6rem;}
    footer {padding: 2rem 7rem; flex-direction: row; gap: 0;}
    footer a { align-self: flex-end; justify-self: flex-end;}
    #start-action{ visibility: visible;}
    #most-urgent{flex-direction: row; margin: 0 6rem;}
  }

</style>

<aside>
<p>This page emits less CO2 than  <a href="https://www.websitecarbon.com/website/fund4act-com/" target="_blank">95% of pages globally</a> - <a href="/resource/about-this-site" target="_blank">find out how</a></p>
</aside>
<hr>
<header>
  <a id="title-link" href="/"><h1>Fund<span class="accent">4</span>Action</h1></a>

  <div class="right">
    {{#unless user}}
    <a href="/login">Get Started</a>
    {{else}}
    <a id="start-action" href="/profile">Start an action</a>
    <a id="profile-image" href="/profile">
      {{#if profile.logo_url}}
        <img alt="profile image" src="{{profile.logo_url}}"/>
      {{else}}
        <img alt="profile image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDc0NzQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtdXNlci1yb3VuZC1pY29uIGx1Y2lkZS1jaXJjbGUtdXNlci1yb3VuZCI+PHBhdGggZD0iTTE4IDIwYTYgNiAwIDAgMC0xMiAwIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iNCIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PC9zdmc+"/>
      {{/if}}
    </a>
    {{/unless}}
  </div>
</header>
<hr>

<main class="wide">
  <section id="map-section" aria-label="actions map view">
    <h2>Pledge to support your local heritage actions</h2>
    <div id="map"></div>
    <script type='text/javascript'>
      // center of the map
      var start = [51.165691, 10.451526];

      // Create the map
      var map = L.map('map').setView(start, 3);

      // Set up the OSM layer
      L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          minZoom: 3
        }).addTo(map);

      {{#each actions}}
        {{#if this.latitude}}{{#if this.longitude}}
        L.marker([{{this.latitude}}, {{this.longitude}}]).addTo(map).bindPopup("<a href=\"/action/{{this.slug}}\">View action</a>");;
        {{/if}}{{/if}}
      {{/each}}
    </script>
  </section>

  <section id="actions" aria-label="actions closest to deadline">
    <div id="most-urgent">
    {{#each data.mostUrgent}}
      <a href="/action/{{slug}}" class="column">
        <h3>{{name}}</h3>
        <p>Organised by <b>{{profile_name}}</b></p>
        <label for="fundraising"><b>€{{total_pledged}}</b> pledged of €{{fundraising_target}} target</label>
        <progress id="fundraising" max="{{fundraising_target}}" value="{{total_pledged}}">{{fundraising_target}}</progress>
      </a>
    {{/each}}
    </div>
    <a id="view-all" class="button" href="/action">View All Actions</a>
  </section>

  <hr>

  <section id="about-us">
    <h2>Welcome to Fund4Action</h2>
    <pre>Fund4Action is a new low-carbon community crowdfunding platform that connects heritage action creators with potential pledgers. It is part of the <a href="https://heritact-toolkit.eu/" target="_blank">HeritACT Digital Toolkit</a>, designed to enable active citizen participation in the reactivation of cultural heritage.
      
Are you a community group or NGO seeking financial support for a local heritage initiative?
👉 Sign up and add your heritage action to Fund4Action — just click ‘Get Started’ to begin.

Are you an individual, local business or organisation interested in supporting local heritage?
👉 Sign up, choose a heritage action near you and start pledging today.</pre>
  </section>
  <hr>
  <hr>
  <section id="faqs">
    <h2>FAQs</h2>
    <a id="faq-button" class="button" href="/faqs">Frequently Asked Questions</a>
  </section>
</main>
<hr>
<footer>
  <div>
  <h3>Contact</h3>
  <p>hello@act-studio.com</p>
  </div>
  <a href="/resource/privacy-policy" target="_blank">Privacy Policy</a>
</footer>
