<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<style>
  body { padding: 0; }
  header { display: flex; justify-content:space-between; align-items:center; height: 4rem; padding: 0 1rem; }
  header h1 { border-bottom: none; }
  header img { width: 2rem; margin: 0; }
  .right { display: flex; }
  .right a { margin: 1rem; }
  h2, p { margin: 1rem; }
  hr { margin: 0; }
  #map { height: 70vh; margin: 0; }
</style>

<header>
  <h1>Fund4Act</h1>

  <div class="right">
  {{#unless user}}<a href="/login">login</a>{{/unless}}
  {{#if user}}
    <a href=/profile/>Start a project</a>
    <img src="/images/user.svg" arialabel="user profile"></img>
  {{/if}}
  </div>
</header>
<hr>

<main class="wide">
  <section aria-label="projects map view">
    <h2>Donate to local heritage projects</h2>
    <p>Showcase your businesses commitment to your local community</p>
    <div id="map"></div>
    <script type='text/javascript'>
      // center of the map
      var start = [51.165691, 10.451526];

      // Create the map
      var map = L.map('map').setView(start, 3.1);

      // Set up the OSM layer
      L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18
        }).addTo(map);

      {{#each projects}}
        {{#if this.latitude}}{{#if this.longitude}}
        L.marker([{{this.latitude}}, {{this.longitude}}]).addTo(map).bindPopup("<a href=\"/project/{{this.slug}}\">View Project</a>");;
        {{/if}}{{/if}}
      {{/each}}
    </script>
  </section>

  <section aria-label="projects closest to deadline">
    {{#each data.mostUrgent}}
      <h3>{{name}}</h3>
      <a href="/project/{{slug}}">view</a>
      {{#unless @last}}
        <hr>
      {{/unless}}
    {{/each}}
  </section>
</main>
