{{> header}}

{{#if org}}
  <style>
    #org-header, #org-header div { display: flex; flex-wrap:wrap; justify-content: space-between; align-items: center; }
    #org-header img, #org-header div, #org-projects { margin: 1rem; }
    #org-header div a { display: block; }
    #org-header img { width: 3rem; }
  </style>

  <section id="org-header" aria-label="organisation">
    <img src="{{#if org.logo_url}}{{org.logo_url}}{{else}}/images/default_logo.svg{{/if}}" alt="organisation logo"></img>
    <p>{{org.name}}{{#unless org.verified}} (<a href="/organisation/verify">Unverified</a>){{/unless}}</p>
    <div>
      <a href="/organisation/{{org.id}}">Preview Profile</a>
      <a href="/organisation/create">Edit Profile</a>
    </section>
  </div>
  <section id="org-projects" aria-label="projects">
    <a href="/project/create">Create a Project</a>
    {{#if projects}}
      <div id="projects-list">
        {{#each projects}}
          {{> org-project}}
        {{/each}}
      </div>
    {{/if}}
  </section>
{{else}}
  <a href="/organisation/create">Create an Organisation</a>
{{/if}}

