{{> header}}

<style>
  .action, .action:visited, .action:hover{text-decoration: none; color: var(--text-color);;display: flex;flex-direction: column;}
  .action h3, .action p, .action label {margin: .5rem 0;}
  .actions{display: flex;flex-direction:column;gap:2rem;}
  progress::-moz-progress-bar { background: #30732F; }
  progress::-webkit-progress-value { background: #30732F; border-radius: 5px;}
  progress { color: #30732F; border-radius: 5px; border-width: 0; width: 15rem;}
  main {margin: 1rem;}
  .pledge{margin: .75rem 0;}
  .pledge p{margin: 0;}
  .pledge, .pledge:hover, .pledge:active , .pledge:visited {text-decoration:none;color:#000;}
</style>
<main class="wide">
<h1>All pledges for <a href="/action/{{action.slug}}">{{action.name}}<a></h1>

<div class="actions">
{{#each pledges}}
  <a class="pledge" href="/profile/{{this.donor_slug}}">
    <p>{{this.donor_name}}</p>
    <p><b>Pledged €{{this.amount}}</b> {{this.date}}</p>
    <pre>"{{this.comment}}"</pre>
  </a>
{{/each}}
</div>

<form>
  <input type="hidden" name="offset" value="{{lastValue}}">
  <input type="submit" formmethod="post" value="Load More" {{#if isLastPage}}disabled{{/if}}>
</form>
</main>