{{> header}}

<style>
  .action, .action:visited, .action:hover{text-decoration: none; color: var(--text-color);;display: flex;flex-direction: column;}
  .action h3, .action p, .action label {margin: .5rem 0;}
  .actions{display: flex;flex-direction:column;gap:2rem;}
  progress::-moz-progress-bar { background: #30732F; }
  progress::-webkit-progress-value { background: #30732F; border-radius: 5px;}
  progress { color: #30732F; border-radius: 5px; border-width: 0; width: 15rem;}
  main {margin: 1rem;}
  .pledge{margin: .75rem 0;}
  .pledge p{margin: 0;}
  .pledge, .pledge:hover, .pledge:active , .pledge:visited {text-decoration:none;color:#000;}
  .pledge-row {display: flex; gap: 1; align-items: center; justify-content: space-between}
  .pledge-owner-actions {display: flex; gap: 1rem; align-items: center;}
  .pledge-action, .pledge-action:hover, .pledge-action:visited { background: none; color: #232323;border: none;text-decoration: underline; cursor: pointer;font-size: medium;}
</style>
<main class="wide">
<h1>All pledges for <a href="/action/{{action.slug}}">{{action.name}}</a></h1>

<div class="actions">
{{#each pledges}}
  <div class="pledge-row">
    <a class="pledge" href="/profile/{{this.donor_slug}}">
      <p>{{this.donor_name}}</p>
      <p><b>Pledged €{{this.amount}}</b> {{this.date}}</p>
      <pre>"{{this.comment}}"</pre>
      {{#if this.received}}
        <p title="The action owner has confirmed that this pledge has been received">Donation received</p>
      {{/if}}
    </a>
    {{#if @root.isActionOwner}}
    <div class="pledge-owner-actions">
      <form method="POST">
        {{#if this.received}}
          <button class="pledge-action" formaction="/action/{{@root.action.slug}}/pledge/{{this.pledge_id}}/notreceived">undo mark as received</button>
        {{else}}
          <button class="pledge-action" formmethod="POST" formaction="/action/{{@root.action.slug}}/pledge/{{this.pledge_id}}/received">mark as received</button>
        {{/if}}
      </form>
      <a class="pledge-action" href="/action/{{@root.action.slug}}/pledge/{{this.pledge_id}}/delete">delete</a>
    </div>
    {{/if}}
  </div>
{{/each}}
</div>

<form>
  <input type="hidden" name="offset" value="{{lastValue}}">
  <input type="submit" formmethod="post" value="Load More" {{#if isLastPage}}disabled{{/if}}>
</form>
</main>
