{{> header}}

{{#if profile.display_name}}
  {{#if profile.email}}
    <style>
      #profile-header, #profile-header div { display: flex; flex-wrap:wrap; align-items: center; }
      #profile-header div a { display: block; padding-right: 1rem; }
      #profile-header img, #profile-header div, #profile-actions { margin: 1rem; }
      #profile-header img { width: 3rem; }
    </style>

    <h2>Your Profile</h2>

    <section id="profile-header" aria-label="profile">
      {{log profile}}
      <h3>{{profile.display_name}}{{#unless profile.verified}} (<a href="/profile/verify">Unverified</a>){{/unless}}</h3>
      <div>
        <a href="/profile/{{profile.slug}}">View Public Profile</a>
        <a href="/logout">Log Out</a>
      </section>
    </div>
    <section id="profile-actions" aria-label="actions">
      <h3>Your Actions</h3>
      <a href="/action/create">Create an Action</a>
      {{#if actions}}
        <div id="actions-list">
          {{#each actions}}
            {{> profile-action}}
          {{/each}}
        </div>
      {{/if}}
    </section>
  {{else}}
    <section>
      <a href="/profile/action-creator-prereq/">Register as an action creator</a>
    </section>
  {{/if}}
{{else}}
  <link rel="stylesheet" href="/styles/normform.min.css"/>
  <main>
    <h1>Profile Set Up</h1>
    <form method="post" class="normform">
      <label for="name">Set your display name (You may use your organisation name)</label>
      <input type="text" id="name" name="name" required>

      <input type="submit" value="Save">
    </form>
  </main>
{{/if}}

