<main>
  <h1>{{projectData.name}}</h1>

  <label for="fundraising">Total Pledged
  <progress id="fundraising" max="{{projectData.fundraising_target}}" value="{{projectData.pledgeTotal}}">{{projectData.fundraising_target}}</progress>
  <a href="/project/{{projectData.slug}}/pledge">Pledge Now</a>

  <section aria-label="pledges">
    <h2>Pledges</h2>
    {{#each projectData.pledges}}
      <p>{{this.amount}}</p>
      <p>{{this.date}}<p>
      <hr>
    {{/each}}
  </section>

</main>
