{{> header}}
<style>
    main{ margin: 1rem;}
    .action-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid var(--text-color);
        align-items: center;
    }
    .action-row a {
        margin: 1rem;
    }
    a,a:visited{color: var(--text-color)}
    .column{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
    #public-profile-heading {display: flex; gap:1rem; align-items: center;}
    .profile-image {border-radius: 100%;width:3rem;height: 3rem;}
</style>
<main class="wide">
    <div id="public-profile-heading">
        {{#if publicProfile.logo_url}}
            <img class="profile-image" alt="profile image" src="{{publicProfile.logo_url}}"/>
        {{else}}
            <img class="profile-image" alt="profile image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDc0NzQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtdXNlci1yb3VuZC1pY29uIGx1Y2lkZS1jaXJjbGUtdXNlci1yb3VuZCI+PHBhdGggZD0iTTE4IDIwYTYgNiAwIDAgMC0xMiAwIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iNCIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PC9zdmc+"/>
        {{/if}}
        <h1>{{publicProfile.display_name}}</h1>
    </div>

{{#if publicProfile.email}}
<h2>Contact:</h2>
<p>{{publicProfile.email}}</p>
{{/if}}
{{#if publicProfile.website_url}}<p><a href="/redirect/{{publicProfile.website_url}}">visit website</a></p>{{/if}}
{{#if actions}}
    <h2>Our Actions:</h2>
    {{#each actions}}
    <div class="action-row">
        <p>{{this.name}}</p>
        <p><a href="/action/{{this.slug}}">View</a></p>
    </div>
    {{/each}}
{{/if}}
{{#if pledges}}
    <h2>Our Pledges:</h2>
    {{#each pledges}}
        <p>{{this.date}} - Pledged €{{this.amount}} to <a href="/action/{{this.proj_slug}}">{{this.action_name}}</a></p>
    {{/each}}
{{/if}}
{{#if publicProfile.mission}}
<h2>Our Mission:</h2>
<pre>{{publicProfile.mission}}</pre>
{{/if}}

{{#if publicProfile.previous_actions}}
<h2>Our Previous Actions:</h2>
<pre>{{publicProfile.previous_actions}}</pre>
{{/if}}
{{#if publicProfile.previous_grants}}
<h2>Our Previous Funding:</h2>
<pre>{{publicProfile.previous_grants}}</pre>
{{/if}}
{{#if publicProfile.partnerships}}
<h2>Our Partnerships:</h2>
<pre>{{publicProfile.partnerships}}</pre>
{{/if}}
{{#if publicProfile.constitution_url}}
<h2>Our Documents</h2>
<div class="column">
<a href="/redirect/{{publicProfile.constitution_url}}" target="_blank">Our Constitution</a>
{{/if}}
{{#if publicProfile.climate_action_plan_url}}
<a href="/redirect/{{publicProfile.climate_action_plan_url}}" target="_blank">{{publicProfile.climate_action_plan_url}}</a>
{{/if}}
</div>
</main>
