{{> header}}
<style>
    main{ margin: 1rem;}
    .action-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid var(--text-color);
        align-items: center;
    }
    .action-row a {
        margin: 1rem;
    }
    a,a:visited{color: var(--text-color)}
</style>
<main class="wide">
<h1>{{profile.display_name}}</h1>
<h2>Contact:</h2>
<p>{{profile.email}}</p>
<p>{{profile.website_url}}</p>
{{#if actions}}
    <h2>Our Actions:</h2>
    {{#each actions}}
    <div class="action-row">
        <p>{{this.name}}</p>
        <p><a href="/action/{{this.slug}}">View</a></p> 
    </div>
        
    {{/each}}
{{/if}}
{{#if pledges}}
    <h2>Our Pledges:</h2>
    {{#each pledges}}
        <p>{{this.date}} - Pledged €{{this.amount}} to <a href="/action/{{this.proj_slug}}">{{this.action_name}}</a></p>
    {{/each}}
{{/if}}
<h2>Our Mission:</h2>
<p>{{profile.mission}}</p>

{{#if profile.previous_actions}}
<h2>Our Previous Actions:</h2>
<p>{{profile.previous_actions}}</p>
{{/if}}
{{#if profile.previous_grants}}
<h2>Our Previous Funding:</h2>
<p>{{profile.previous_grants}}</p>
{{/if}}
{{#if profile.partnerships}}
<h2>Our Partnerships:</h2>
<p>{{profile.partnerships}}</p>
{{/if}}
<h2>Our Documents</h2>
<a href="{{profile.constitution_url}}">Our Constitution</a>
{{#if profile.climate_action_plan_url}}
<a href="{{profile.climate_action_plan_url}}">Our Climate Action Plan</a>
{{/if}}
</main>