{{> header}}
<style>
    main{ margin: 1rem;}
    .action-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid var(--text-color);
        align-items: center;
    }
    .action-row a {
        margin: 1rem;
    }
    a,a:visited{color: var(--text-color)}
    .column{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
</style>
<main class="wide">
<h1>{{profile.display_name}}</h1>
{{#if profile.email}}
<h2>Contact:</h2>
<p>{{profile.email}}</p>
{{/if}}
{{#if profile.website_url}}<p><a href="/redirect/{{profile.website_url}}"><visit website</a></p>{{/if}}
{{#if actions}}
    <h2>Our Actions:</h2>
    {{#each actions}}
    <div class="action-row">
        <p>{{this.name}}</p>
        <p><a href="/action/{{this.slug}}">View</a></p>
    </div>
    {{/each}}
{{/if}}
{{#if pledges}}
    <h2>Our Pledges:</h2>
    {{#each pledges}}
        <p>{{this.date}} - Pledged €{{this.amount}} to <a href="/action/{{this.proj_slug}}">{{this.action_name}}</a></p>
    {{/each}}
{{/if}}
{{#if profile.mission}}
<h2>Our Mission:</h2>
<pre>{{profile.mission}}</pre>
{{/if}}

{{#if profile.previous_actions}}
<h2>Our Previous Actions:</h2>
<pre>{{profile.previous_actions}}</pre>
{{/if}}
{{#if profile.previous_grants}}
<h2>Our Previous Funding:</h2>
<pre>{{profile.previous_grants}}</pre>
{{/if}}
{{#if profile.partnerships}}
<h2>Our Partnerships:</h2>
<pre>{{profile.partnerships}}</pre>
{{/if}}
{{#if profile.constitution_url}}
<h2>Our Documents</h2>
<div class="column">
<a href="/redirect/{{profile.constitution_url}}" target="_blank">Our Constitution</a>
{{/if}}
{{#if profile.climate_action_plan_url}}
<a href="/redirect/{{profile.climate_action_plan_url}}" target="_blank">Our Climate Action Plan</a>
{{/if}}
</div>
</main>
