<div class="tag-container" data-toggle='tooltip' data-placement="top" title="{{this.description}}">
	<li>
		<input type="checkbox" id={{this.id}} name="tags" value={{this.id}}>
		<label for={{this.id}}><i aria-hidden="true" class="fas fa-plus"></i>{{this.name}}</label>
	</li>
</div>
